/* playability */

.ow-playability-box {
    padding: 0.75rem;
}

.ow-playability-box.verified {
    background-color: #1eac1e73;
    border: 2px solid green;
    border-radius: var(--border-radius-large);
}

.ow-playability-box.unstable {
    background-color: #d0a90f73;
    border: 2px solid orange;
    border-radius: var(--border-radius-large);
}

.ow-playability-box.broken {
    background-color: #e51b0d73;
    border: 2px solid red;
    border-radius: var(--border-radius-large);
}

.ow-playability-box--inner {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ow-playability-box--text {
    display: grid;
    margin-left: 0.5rem;

}

.ow-playability-box--text.header span {
    color: var(--color-emphasized);
    font-weight: var(--font-weight-bold);
}

.ow-playability-box--text.details span {
    color: var(--color-subtle);
}