# technically not lingust-vendored, but it's cleaner to ignore
scripts/** linguist-vendored
# dont count imported or legacy modules towards language statistics
modules/shared/_imported/** linguist-vendored
i:* linguist-vendored
w:* linguist-vendored
modules/_legacy/** linguist-vendored
**/**Legacy.lua linguist-vendored