.ow-month-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 1.5rem 0;
    justify-content: center;
}

.ow-month-card {
    position: relative;
    flex: 1 1 calc(16% - 12px);
    min-width: 90px;
    padding: 15px 5px;
    background-color: var(--background-color-interactive-subtle, #f8f9fa);
    border: 1px solid var(--border-color-base, #a2a9b1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.ow-month-card:hover {
    background-color: var(--background-color-interactive, #eaecf0);
    border-color: var(--border-color-primary, #36c);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ow-month-card.is-active {
    background-color: var(--background-color-progressive);
    border-color: var(--border-color-progressive);
    border-width: 2px;
}

.ow-month-card.is-active > .ow-month-card__label {
    color: white;
}

.ow-month-card.is-empty {
    opacity: 0.5;
    border-style: dashed;
}

.ow-month-card__label {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-emphasized);
    margin-bottom: 4px;
}

.ow-month-card__count {
    font-size: 0.75rem;
    color: var(--color-base, #54595d);
}

.ow-month-nav-years {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin: 1.5rem 0;
    justify-content: flex-start;
    flex-direction: row;
}

.ow-year-card {
    position: relative;
    flex: 1 1 calc(16% - 12px);
    min-width: 16px;
    max-width: 60px;
    padding: 5px 4px;
    background-color: var(--background-color-interactive-subtle, #f8f9fa);
    border: 1px solid var(--border-color-base, #a2a9b1);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.ow-month-card__link a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    z-index: 1;
}